.container
{
	display: flex;
	flex-direction: column;
	height: calc(100% - 1rem);
}

.textInput
{
	width: 100%;
	height: 1.5rem;
	font-size: 150%;
}

.textWindow
{
	border: 1px solid black;
	height: 100%;
	white-space: pre-wrap;
	overflow: auto;
}

.textWindow > div
{
	width: 100%;
	overflow-wrap: break-word;
	white-space: pre-wrap;
	margin-bottom: 1rem;
}

.textWindow > div > div
{
	display: flex;
	flex-direction: column;
	border-bottom: black 1px solid;
}

@media (min-width:600px)
{

	.textWindow > div > div
	{
		flex-direction: row;
	}
}

.textWindow > div > div > div
{
	margin-right: 1rem;
}

.textWindow > div > div > time
{
	font-weight: bolder;
}

.textArea
{
	display: flex;
}

.loginInfo
{
	padding: 0;
}

.loginInfo > span
{
	font-weight: bolder;
	padding: 0;
	margin: 0;
}