.container
{
	display: flex;
	flex-direction: column;
	height: calc(100% - 1rem);
}

.textInput
{
	width: 100%;
	height: 1.5rem;
	font-size: 150%;
}

.textWindow
{
	border: 1px solid black;
	height: 100%;
}

.textArea
{
	display: flex;
}

.loginInfo
{
	padding: 0;
}

.loginInfo > span
{
	font-weight: bolder;
	padding: 0;
	margin: 0;
}