.cautionTape
{
	background-image: url(/image/cautionTape.png);
	background-repeat: repeat-x;
	height: 16px;
	width: 100%;
}

.linkedInMini
{
	background-image: url(/image/logo/linkedin/mini.png);
	background-size: cover;
}

.linkedInFull
{
	background-image: url(/image/logo/linkedin/full.png);
	background-size: cover;
}

.githubMiniDark
{
	background-image: url(/image/logo/github/dark/mini.png);
	background-size: cover;
}

.githubFullDark
{
	background-image: url(/image/logo/github/dark/full.png);
	background-size: cover;
}

.githubMiniLight
{
	background-image: url(/image/logo/github/light/mini.png);
	background-size: cover;
}

.githubFullLight
{
	background-image: url(/image/logo/github/light/full.png);
	background-size: cover;
}

img
{
	border: 0;
}