.header
{
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  z-index: 100;
  background-color: black;
}

.nav
{
  margin: 0;
  padding: 0;
  border: 0;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer
{
  display: none;
}
  
.logo
{
  align-self: flex-start;
  border-radius: 0 0 30px 0;
}

.menu
{
  align-self: flex-end;
  right: 0;
  border-radius: 0 0 0 30px;
}

@media (min-width:600px)
{
  .header
  {
    background-color: transparent;
  }

  .nav
  {
    width: 5rem;
    box-shadow: 1px 7px 18px -5px black;
  }
  
  .spacer
  {
    display: inherit;
    width: 100%;
    align-self: stretch;
  }
}
