.socialLogo
{
	width: 4rem;
	height: 4rem;
}

.siteLink
{
	padding: 1rem;
	display: flex;
	flex-direction: row;
	transition: background-color 100ms linear;
}

.siteLink:hover
{
	background-color: rgb(221, 221, 221);
}

.siteLink:visited, .siteLink:link
{
	color: inherit;
}

.socialText
{
	padding: 0;
	padding-left: 1rem;
	font-size: 300%;
	font-weight: bolder;
	line-height: 100%;
}