.menuButton
{
	display: flex;
  justify-content: center;
  align-items: center;	
	color: white;
	font-size: 300%;
	height: 100%;
	width: 100%;
	cursor: pointer;
}

.menuContainer
{
	width: 100%;
	height: 100%;
}

.fullscreenMenuContainer
{
	z-index: 9999;
	display: none;
	flex-direction: row-reverse;
	background-color: rgba(0, 0, 0, 0.75);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.menuBox
{
	width: 15rem;
	height: 100%;
	background-color: #000000;
}

.menuHeader
{
	margin: 0;
	font-size: 300%;
	border-bottom: 2px solid white;
}

.menuHeader > a
{
	color:white;
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
}

.menuList
{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.menuEntry 
{
	display: flex;
}

.menuEntry a
{
	padding: 0 0.5rem 0 0.5rem;
	color: white;
	font-weight: 999;
	font-size: 2rem;
	text-decoration: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	transition: background-color 100ms linear, border-left-width 100ms;
}

.menuEntry a:hover
{
	background-color: rgba(255, 255, 255, 0.15);
	border-left: solid white 3px;
}