.wrapper
{
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-self: center;
}

.text
{
	height: 100%;
	white-space: pre-wrap;
}

@media (min-width:600px)
{
	.wrapper
	{
		margin: 2rem;
	}
}